.app-container {
    height: 100%;
    font-family: "Salesforce Sans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #b9e1f3, #fefefe);
}

.app-container > div {
    padding-top: 21px;
    font-size: 32px;
}
